.calendar .column {
  position: relative;
}

.calendar-layout {
  list-style: none;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  width: 285px;
}

.calendar-layout .item {
  height: 60px;
  color: #a2a2a2;
}

.calendar-layout .main {
  border-top: 1px solid #a2a2a2;
  font-size: 16px;
}

.calendar-layout .secondary {
  font-size: 12px;
}

.events .event {
  left: 100px;
  position: absolute;
  border-left: 2px solid #6E9ECF;
  background: #E2ECF5;
  text-align: left;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
.events .event:hover {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  left: 100px!important;
  width: 200px!important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background: #dce7f1;
  z-index: 1;
}

.add-event-panel {
  border: 1px solid #0085ff;
  border-radius: 5px;
  padding: 5px 5px;
}
